html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
}

a,
input,
textarea,
button {
  all: unset;
}

p {
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  border: 1px solid #eee;

  &__current-imoji {
    z-index: 1000
  }
}
