html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
}

a,
input,
textarea,
button {
  all: unset;
}

a,
button {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
}

@media (max-width: 650px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 55%;
  }
}
